@media (max-width: 640px){
    .alert-container-active{
        position: fixed;
        display: flex;
        justify-content: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 80;
        background-color: rgba(0, 0, 0, .5);
        animation: alertOn .1s ease 0s 1 normal forwards;
    }

    @keyframes alertOn {
        0% {
            opacity: 0;
            transform: translateY(-250px);
        }
    
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .alert-container-off{
        display: none;
    }

    .alert{
        margin: 2em;
        width: 24em;
        height: 13em;
        background-color: #2B214D;
        box-shadow: 0px 0px 34px 8px rgba(196, 182, 242, 7);
        border-radius: 15px;
    }

    .alert-content{
        text-align: center;
    }

    .alert-content h2{
        font-family: 'Rubik', sans-serif;
        font-size: 2em;
    }

    .alert-content p{
        font-family: 'Roboto Mono', monospace;
        color: #C4B6F2;
    }

    .alert-btn{
        display: flex;
        justify-content: center;
    }

    .alert-btn button{
        color: #f1f1f1;
        border: none;
        background-color: #EA429A;
        font-family: 'Rubik', sans-serif;
        font-size: 1.5em;
        padding: 10px;
        border-radius: 15px;
    }

    .alert-btn button:active{
        transform: scale(.8);
        transition: .2s;
    }
}